.nav {
    &__button {
        width: 2.66rem;
        height: 2.66rem;
        border-radius: 0.26rem;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: background-color 0.2s;

        &:hover {
            background-color: darken($white, 10%);
        }

        span {
            display: block;
            background-color: $accent;
            width: 15px;
            height: 2px;
            position: relative;

            &::after,
            &::before {
                content: " ";
                position: absolute;
                display: block;
                background-color: $accent;
                width: 100%;
                height: 2px;
            }

            &::before {
                top: -5px;
            }

            &::after {
                top: 5px;
            }
        }
    }

    &__list {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: darken($accent, 6);
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;

        &--active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__item {
        position: relative;
        display: inline-block;
        margin: 20px auto;

        &:hover::after {
            width: 100%;
        }

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: $white;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        }
    }

    &__link {
        color: $white;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
}
