.section {
    padding: 40px 0;
    &__header {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

    &__title {
        display: inline-block;
        font-weight: 400;
        font-size: 1.6rem;
        color: $accent;

        &-work {
            color: $white;

            &::after {
                background-color: $white !important;
            }
        }

        &::after {
            content: " ";
            display: block;
            margin: 20px auto 30px;
            background-color: $accent;
            height: 8px;
            width: 100px;

            @media (max-width: 639px) {
                width: 50px;
            }
        }

        @media (min-width: 640px) {
            font-size: 3.2rem;
        }
    }

    &__sub-title {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 1.33rem;
        color: $dark;

        @media (min-width: 640px) {
            font-size: 1.6rem;
        }
    }

    &__description {
        color: $grey;
        text-align: center;
        display: inline-block;

        @media (min-width: 640px) {
            font-size: 1.2rem;
        }
    }
}
