.team {
    padding-top: 0;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    &__section {
        @media (min-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            width: 47%;
        }
    }

    &__title {
        &::after {
            margin: 20px 0 30px;
        }
    }

    &__description {
        @media (min-width: 768px) {
            text-align: left;
        }
    }

    &__img {
        margin-bottom: 40px;
        overflow: hidden;
        display: flex;
        justify-content: center;

        
        @media (min-width: 768px) {
            width: 47%;
        }
    }

    &__button {
        margin-top: 40px;
    }
}